@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*Changed Jumbotron Information*@
    <h1>Ingress Beat</h1>
    <p class="lead">Ingress Beat is a tool that gives you an at-a-glance overview of vital information for all the portals in your regularly patrolled area. 
    Use it to keep track of enemy agents that infringe on your turf and provide decisive and timely retaliation.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Portals</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44336/portals">Portals</a></p>
    </div>
    <div class="col-md-4">
        <h2>At a Glance</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://localhost:44336/factions">Factions</a></p>
    </div>
    <div class="col-md-4">
        <h2>Become an Agent</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>